# Added by code-review-graph
.code-review-graph/
.cursor
.kiro
.claude
GEMINI.md
CLAUDE.md
.mcp.json
.opencode.json
.windsurfrules
.cursorrules
AGENTS.md
client/node_modules
server/node_modules
client/.vite
client/dist
client/node_modules/.vite
client/.env
server/.env
.vercel
node_modules